.cityContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding: 1.5em;
  background-color: #42484d;
  border-radius: 0.5em;
  color: white;
}

.backButton {
  background-color: #42484d;
  padding: 1em;
  font-size: 0.9rem;
  color: white;
  border: 0;
  text-transform: uppercase;
  border: 0.1em solid rgb(242, 233, 217);
  border-radius: 0.5em;
}
