.container {
  background-color: var(--color-mains);
  width: 40%;
  height: 100%;
  padding: 2em 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

.imageContainer {
  height: 7.5%;
}
.imageContainer img {
  height: 100%;
}
.tab {
  padding: 0.7em 1.2em;
  background-color: #42484d;
  border: 0;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-radius: 0.5em;
}

.tabs {
  border-radius: 0.5em;
  background-color: #42484d;
}
.tab.active {
  background-color: #242a2e;
}
